{% extends 'base.html' %}

{% block content %}

{% include 'navbar.html' %}

<div class="text-center pt-3">
    <div class="flex justify-center items-center pb-5">
        <h1>Chart Detail</h1>
    </div>
    <p class="text-center"> Tipe: {{type}} Top 20</p>
    
    <table class="table-auto mx-auto my-auto border border-gray-500">
        <thead>
            <tr class="text-center">
                <th colspan="5" class="mx-auto my-auto text-center px-5">Judul Lagu</th>
            </tr>
            <tr>
                <th class="border border-gray-500 px-4 py-2">Judul</th>
                <th class="border border-gray-500 px-4 py-2">Artis</th>
                <th class="border border-gray-500 px-4 py-2">Tanggal Rilis</th>
                <th class="border border-gray-500 px-4 py-2">Total plays</th>
                <th class="border border-gray-500 px-4 py-2">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for result in results %}
            <tr>
                <td class="border border-gray-500 px-4 py-2"> {{result.judul}} </td>
                <td class="border border-gray-500 px-4 py-2"> {{result.nama}} </td>
                <td class="border border-gray-500 px-4 py-2"> {{result.tanggal_rilis}} </td>
                <td class="border border-gray-500 px-4 py-2"> {{result.total_play}} </td>
                <td class="border border-gray-500 px-4 py-2">
                    <a href="">Lihat</a> 
                </td>
            </tr>
           {% endfor %}
        </tbody>
    </table>
    <div class="pt-4">
        <a href="{% url 'chart:show_chart' %}" class="border-2 border-black border-solid bg-green-500 rounded-xl px-10 py-2 text-white no-underline" id="showPopUp">Kembali</a>
    </div>
</div>

{% endblock content %}