{% extends 'base.html' %}

{% block content %}

{% include 'navbar.html' %}


    <div class="text-center pt-3">
        <div class="flex justify-center items-center pb-5">
            <h1>Chart list</h1>
        </div>
        
        <table class="table-auto text-center mx-auto my-auto border border-gray-500">
            <thead>
                <tr>
                    <th class="border border-gray-500 px-4 py-2">
                        Tipe
                    </th>
                    <th class="border border-gray-500 px-4 py-2">
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="border border-gray-500 px-4 py-2"> Daily Top 20 </td>
                    <td class="border border-gray-500 px-4 py-2">
                        <a href="{% url 'chart:chart_detail_daily' %}" class="no-underline">Lihat Daftar Lagu</a> 
                    </td>
                </tr>
                <tr>
                    <td class="border border-gray-500 px-4 py-2"> Weekly Top 20 </td>
                    <td class="border border-gray-500 px-4 py-2">
                        <a href="{% url 'chart:chart_detail_weekly' %}" class="no-underline">Lihat Daftar Lagu</a> 
                    </td>
                </tr>
                <tr>
                    <td class="border border-gray-500 px-4 py-2"> Monthly Top 20 </td>
                    <td class="border border-gray-500 px-4 py-2">
                        <a href="{% url 'chart:chart_detail_monthly' %}" class="no-underline">Lihat Daftar Lagu</a> 
                    </td>
                </tr>
                <tr>
                    <td class="border border-gray-500 px-4 py-2"> Yearly Top 20 </td>
                    <td class="border border-gray-500 px-4 py-2">
                        <a href="{% url 'chart:chart_detail_year' %}" class="no-underline">Lihat Daftar Lagu</a> 
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="pt-4">
            <a href=""  class="border-2 border-black border-solid bg-green-500 rounded-xl px-10 py-2 text-white no-underline" id="showPopUp">Kembali</a>
        </div>
        
    </div>
{% endblock content %}