{% extends 'base.html' %}

{% block content %}
    <title>Form Pembayaran</title>
    <style>
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-color: #f0f0f0;
        }
        .header {
            background-color: #4CAF50;
            color: white;
            padding: 20px;
            width: 100%;
            text-align: center;
            margin-bottom: 20px;
            border-radius: 10px 10px 0 0;
        }
        .card {
            background-color: #ffffff;
            border-radius: 10px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            padding: 30px;
            width: 400px;
            text-align: center;
        }
        h1 {
            color: #ffffff;
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 0px;
        }
        form {
            display: flex;
            flex-direction: column;
        }
        fieldset {
            border: none;
            margin-bottom: 20px;
        }
        legend {
            color: #4a4a4a;
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 10px;
        }
        p {
            color: #4a4a4a;
            font-size: 16px;
            margin-bottom: 10px;
        }
        select {
            background-color: #f0f0f0;
            border: 1px solid #cccccc;
            border-radius: 5px;
            padding: 5px;
            font-size: 16px;
            width: 100%;
        }
        input[type="submit"] {
            background-color: #4CAF50;
            border: none;
            border-radius: 5px;
            color: white;
            font-size: 16px;
            padding: 10px;
            cursor: pointer;
        }
    </style>

    <div class="header">
        <h1>Form Pembayaran</h1>
    </div>
    <div class="card">
        <form id="paymentForm" method="POST" action="submit-payment/">
            {% csrf_token %}
            <p>Informasi Paket yang Ingin Dibeli</p>
            <fieldset>
                <legend>Jenis Paket</legend>
                <p>Jenis: {{ jenis }}</p>
                <input type="hidden" name="jenis" value="{{ jenis }}">
            </fieldset>
            <fieldset>
                <legend>harga paket</legend>
                <p>Harga: Rp{{ harga }}</p>
                <input type="hidden" name="harga" value="{{ harga }}">
                <fieldset>
                    <legend>Metode Pembayaran</legend>
                    <select name="metode_bayar">
                        <option value="Transfer Bank">Transfer Bank</option>
                        <option value="Kartu Kredit">Kartu Kredit</option>
                        <option value="E-Wallet">E-Wallet</option>
                    </select>
                </fieldset>
                <input type="submit" value="Submit">
            </fieldset>
        </form>
    </div>
{% endblock content %}