{% extends 'base.html' %}

{% block content %}

<link rel = "stylesheet"
href = "https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One">

<style>
    #card-navbar {
        font-family: 'Montserrat', sans-serif;
        border-color: #040302;
        background: #FFFF;
    }
</style>

<nav id = "card-navbar" class="relative flex w-full items-center justify-between py-2 shadow">
    <div class="flex w-full items-center justify-between px-3 pt-2">
        <div class="flex">
            <div class="flex">
                <p class="ml-2 mr-5"><a href="" class=" text-green-500 font-bold no-underline text-4xl">Marmut</a></p>
                <a href="" class="text-black text-lg pl-4 pt-2 no-underline">Dashboard</a>
                <a href="" class="text-black text-lg pl-4 pt-2 no-underline ">Chart</a>
                <div class="pt-2">
                    <a href="#" class="text-black text-lg pl-6 pb-2.5 no-underline dropdown-toggle" id="popUp">Manage</a>
                    <div class=" hidden absolute bg-white rounded-lg shadow-lg mt-2" id="show">
                        <a href="#" class="block px-4 py-2 text-black no-underline">Kelola Playlist</a>
                        <a href="#" class="block px-4 py-2 text-black no-underline">Langganan Paket</a>
                        <a href="#" class="block px-4 py-2 text-black no-underline">Kelola Album & Songs</a>
                        <a href="#" class="block px-4 py-2 text-black no-underline">Cek Royalti</a>
                    </div>
                </div>
            </div>
            <div class="flex space-x-4 lg:pl-80 lg:ml-80 pl-40 ml-80 pt-1.5">
                <form class="form-inline">
                    <div class="input-group">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <span class="input-group-append">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                        </span>
                    </div>
                  </form>
                <a href="{% url 'cru_registrasi:logout' %}" class="pt-2 no-underline text-black">Logout</a>
            </div>
            
        </div>
    </div>
  </nav>

  <script>
    $(document).ready(function() {
      $("#popUp").click(function() {
          $("#show").toggleClass("hidden"); 
      });
  });  
</script>


{% endblock %}