{% extends 'base.html' %}

{% block content %}

{% include 'navbar.html' %}

    <div class="pt-4">
        <div class="flex flex-row">
            <div class="flex flex-col ml-5 p-4 rounded-xl border-4 w-50">
                <h1 class="text-center">Profile</h1>
                <div class="flex flex-row justify-evenly pt-8">
                    {% if request.session.is_pengguna %}
                    <div>
                        <p>Nama: {{ user.nama }}</p>
                        <p>Email: {{ user.email }}</p>
                        <p>Kota Asal: {{ user.kota_asal }}</p>
                        <p>Gender: {{ gender }}</p>
                    </div>
                    <div class="pl-20">
                        <p>Tempat Lahir: {{ user.tempat_lahir }}</p>
                        <p>Tanggal Lahir: {{ user.tanggal_lahir }}</p>
                        <p>Role: {{ roles }}</p>
                    </div>
                    {% else %}
                    <div>
                        <p>Nama: {{ user.nama }}</p>
                        <p>Email: {{ user.email }}</p>
                        <p>Kontak: {{ user.kontak }}</p>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="flex flex-col ml-2 mr-5 p-4 rounded-xl border-4 w-50">
                <h1 class="text-center">Picture</h1>
                <div class="mx-auto my-auto">
                    <img src="https://cdn.discordapp.com/attachments/1020531071479201793/1186512367551520798/man.png?ex=6648cb00&is=66477980&hm=6e808b00ffac7e26c008e924bfc7c49c468023ac38e4d54af1497facd2d0a3b1&" width="200"/>
                </div>
            </div>
        </div>
        <div class="">

            {% if request.session.is_pengguna %}
                {% if has_playlist %}

                <div style="margin: 20px;"></div>
                <div class="flex flex-col ml-2 mr-5 p-4 rounded-xl border-4 w-50">
                    <h1 class="text-center" style="margin-bottom: 20px;">Daftar Playlist</h1>
                    <table class="table-container">
                        <thead>
                            <tr>
                                <th>Judul</th>
                                <th>Jumlah Lagu</th>
                                <th>Total Durasi</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for playlist in playlists %}
                            <tr>
                                <td>{{ playlist.2 }}</td>
                                <td>{{ playlist.4 }}</td>
                                <td>{{ playlist.7 }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                
                {% else %}
                <div style="margin: 20px;"></div>
                <div class="flex flex-col ml-2 mr-5 p-4 rounded-xl border-4 w-50">
                    <h1 class="text-center" style="margin-bottom: 20px;">Daftar Playlist</h1>
                    <div>
                        <p>
                            Belum Memiliki Lagu
                        </p>
                    </div>
                </div>
                {% endif %}
            {% endif %}

            {% if request.session.is_artist or request.session.is_songwriter %}
                {% if songs %}
                <div style="margin: 20px;"></div>
                <div class="flex flex-col ml-2 mr-5 p-4 rounded-xl border-4 w-50">
                    <h1 class="text-center" style="margin-bottom: 20px;">Daftar Lagu</h1>
                    <table class="table-container">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Judul</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for song in songs %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ song.0 }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                
                {% else %}
                <div style="margin: 20px;"></div>
                <div class="flex flex-col ml-2 mr-5 p-4 rounded-xl border-4 w-50">
                    <h1 class="text-center" style="margin-bottom: 20px;">Daftar Lagu</h1>
                    <div>
                        <p>
                            Belum Memiliki Lagu
                        </p>
                    </div>
                </div>
                {% endif %}
            {% endif %}

            {% if request.session.is_podcaster %}
                {% if podcasts %}
                <div style="margin: 20px;"></div>
                <div class="flex flex-col ml-2 mr-5 p-4 rounded-xl border-4 w-50">
                    <h1 class="text-center" style="margin-bottom: 20px;">Daftar Podcast</h1>
                    <table class="table-container">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Judul</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for podcast in podcasts %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ podcast.0 }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                
                {% else %}
                <div style="margin: 20px;"></div>
                <div class="flex flex-col ml-2 mr-5 p-4 rounded-xl border-4 w-50">
                    <h1 class="text-center" style="margin-bottom: 20px;">Daftar Podcast</h1>
                    <div>
                        <p>
                            Belum Memiliki Podcast
                        </p>
                    </div>
                </div>
                {% endif %}
            {% endif %}

            {% if request.session.is_label %}
                {% if label_albums %}
                <div style="margin: 20px;"></div>
                <div class="flex flex-col ml-2 mr-5 p-4 rounded-xl border-4 w-50">
                    <h1 class="text-center" style="margin-bottom: 20px;">Daftar Album</h1>
                    <table class="table-container">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Judul</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for album in label_albums %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ album.judul }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                
                {% else %}
                <div style="margin: 20px;"></div>
                <div class="flex flex-col ml-2 mr-5 p-4 rounded-xl border-4 w-50">
                    <h1 class="text-center" style="margin-bottom: 20px;">Daftar Album</h1>
                    <div>
                        <p>
                            Belum Memproduksi Album
                        </p>
                    </div>
                </div>
                {% endif %}
            {% endif %}
            
        </div>
    </div>

{% endblock content %}