{% extends 'base.html' %}

{% block content %}

{% include 'navbar.html' %}

    <div class="pt-4">
        <div class="flex flex-row">
            <div class="flex flex-col ml-5 p-4 rounded-xl border-4 w-50">
                <h1 class="text-center">Profile</h1>
                <div class="flex flex-row justify-evenly pt-8">
                    {% if not request.session.is_label %}
                    <div>
                        <p>Nama: {{ user.nama }}</p>
                        <p>Email: {{ user.email }}</p>
                        <p>Kota Asal: {{ user.kota_asal }}</p>
                        <p>Gender: {{ gender }}</p>
                    </div>
                    <div class="pl-20">
                        <p>Tempat Lahir: {{ user.tempat_lahir }}</p>
                        <p>Tanggal Lahir: {{ user.tanggal_lahir }}</p>
                        <p>Role: {{ roles }}</p>
                    </div>
                    {% else %}
                    <div>
                        <p>Nama: {{ user.nama }}</p>
                        <p>Email: {{ user.email }}</p>
                        <p>Kontak: {{ user.kontak }}</p>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="flex flex-col ml-2 mr-5 p-4 rounded-xl border-4 w-50">
                <h1 class="text-center">Picture</h1>
                <div class="mx-auto my-auto">
                    <img src="https://cdn.discordapp.com/attachments/1020531071479201793/1186512367551520798/man.png?ex=66345bc0&is=66330a40&hm=f7efbc6b835a7b78809e89d0961557f220fa0418a16ee4307cdaa5539d43c5b3&" width="200"/>
                </div>
            </div>
        </div>
        <div class="text-center">
            <p class="pt-5 text-2xl">Daftar Lagu</p>
            <div>
                <p>
                    Belum Memiliki Lagu
                </p>
            </div>
        </div>
    </div>

{% endblock content %}