{% extends 'base.html' %}

{% block content %}

{% include 'navbar.html' %}

    <div class="pt-4">
        <div class="flex flex-row">
            <div class="flex flex-col ml-5 p-4 rounded-xl border-4 w-50">
                <h1 class="text-center">Profile</h1>
                <div class="flex flex-row justify-evenly pt-8">
                    <div>
                        <p>Nama: {{ user.nama }}</p>
                        <p>Email: {{ user.email }}</p>
                        <p>Kota Asal: {{ user.kota_asal }}</p>
                        <p>Gender: {{ gender }}</p>
                    </div>
                    <div class="pl-20">
                        <p>Tempat Lahir: {{ user.tempat_lahir }}</p>
                        <p>Tanggal Lahir: {{ user.tanggal_lahir }}</p>
                        <p>Role: {{ roles }}</p>
                    </div>
                </div>
            </div>
            <div class="flex flex-col ml-2 mr-5 p-4 rounded-xl border-4 w-50">
                <h1 class="text-center">Picture</h1>
                <div class="mx-auto my-auto">
                    <img src="https://cdn.discordapp.com/attachments/1020531071479201793/1186512367551520798/man.png?ex=6648cb00&is=66477980&hm=6e808b00ffac7e26c008e924bfc7c49c468023ac38e4d54af1497facd2d0a3b1&" width="200"/>
                </div>
            </div>
        </div>
        <div class="text-center">
            <p class="pt-5 text-2xl">Daftar Lagu</p>
            <div>
                <p>
                    Belum Memiliki Lagu
                </p>
            </div>
        </div>
    </div>

{% endblock content %}